{% extends 'base.html' %}

{% block content %}

    <div class="container-lg mt-3">
        <div class="table-responsive">
        <table class="table table-bordered table-hover text-nowrap" data-test="url">
        <tbody>
            <tr>
                <td>ID</td>
                <td>{{ url_id }}</td>
            </tr>
            <tr>
                <td>Имя</td>
                <td>{{ name }}</td>
            </tr>
            <tr>
                <td>Дата создания</td>
                <td>{{ date }}</td>
            </tr>
        </tbody>
        </table>
        </div>
    </div>

{% endblock %}